*~
*#*#
.cache

/.vs
/.vscode/extensions
/.vscode/argv.json
/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.vscode/tasks.json

/CMakeBuilds
/out
/build
/dbuild
/coverage-build
/publish
/dist
/install
/tests/TestInstall/build/
/test

CMakeSettings.json

fixes.yaml

/compile_commands.json

.envrc
.direnv

/linter-temp/build
/linter-temp/dbuild
/linter-temp/coverage-build
